@import url(https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Noto+Sans+JP&display=swap);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);




h1 {
  color:red;
  margin: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  max-width: 50%;
  text-align: center;
}

h2 {
  color:whitesmoke;
  margin: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  max-width: 50%;
  text-align: center;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
  max-width: 100%;
  margin: auto;
}

.footer {  
  position: fixed;  
  left: 10px;  
  bottom: 5px;  
  right: 10px;   
  width: 100%;  
  background-color: gray;  
  color: white;  
  text-align: center;  
  max-width: 100%;
  }  

  .image-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid purple; /* Gray border */
    border-radius: 10px;  /* Rounded border */
    max-width: 100%;
  }